/* Tag Customize */
a{
    text-decoration: none;
}
a:hover{
    opacity: 95%;
}
body{
    font-family: 'Poppins';
    font-size: 22px;
    background-color: #f8fafc;
    color: #0f172a;
}
html{
    scroll-behavior: smooth !important;
}
img{
    opacity: 100%;
}

/* Id Customize */
#about{
    padding-top: 4rem;
    padding-bottom:8rem;
    background-image: url("../file/img/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#blog{
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-image: url("../file/img/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* #contact{
    margin-top: 8rem;
    padding-bottom: 4rem;
} */
#copywriter{
    opacity: 90%;
    position:absolute;
    /* bottom: 0; */
}
#cv{
    padding-top: 4rem;
    background-image: url("../file/img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}
#home{
    padding-top: 8rem;
    background-image: url("../file/img/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}
#iklan{
    position:sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
#navbar{
    opacity: 90%;
    position:sticky;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0px 10px 10px 5px #115e59;
    /* box-shadow: 5px 10px inset; */
}
#portfolio{
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-image: url("../file/img/portfolio-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Class Customize */
.block{
    display: block;
}
.b-primary{
    color: #134e4a;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1000px;
    background-color: #f8fafc;
    border-width: 2px;
    border-color: #0f766e;
}
.b-primary:hover{
    color:#134e4a;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1000px;
    background-color: #f8fafc;
    border-width: 2px;
    border-color: #0f766e;
    opacity: 80%;
    box-shadow: 0px 5px 5px 1px #115e59;

}
.b-more{
    color: #f8fafc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: #075985;
    /* border-width: 1px; */
    border-color: #f8fafc;
}
.b-more:hover{
    color:#f8fafc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: #075985;
    /* border-width: 1px; */
    border-color: #f8fafc;
    opacity: 80%;
    box-shadow: 0px 5px 5px 1px #075985;
}
.b-more-nd{
    color: #f8fafc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: #115e59;
    /* border-width: 1px; */
    border-color: #f8fafc;
}
.b-more-nd:hover{
    color:#f8fafc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: #115e59;
    /* border-width: 1px; */
    border-color: #f8fafc;
    opacity: 80%;
    box-shadow: 0px 5px 5px 1px #115e59;
}
.b-sekunder{
    color: #134e4a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 1000px;
    background-color: #f8fafc;
    border-width: 2px;
    border-color: #0f766e;
}
.b-sekunder:hover{
    color:#134e4a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 1000px;
    background-color: #f8fafc;
    border-width: 2px;
    border-color: #0f766e;
    opacity: 80%;
}
.container{
    width: 100%;
    /* margin-right: auto;
    margin-left: auto; */
    padding-right: 16px;
    padding-left: 16px;
}
.content{
    padding-left: 8rem;
    padding-right: 8rem;
}
.c-about{
    background-color: #0d9488; 
    padding-top: 1rem; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-bottom: 2rem; 
    border-radius: 20px;
    opacity: 90%;
    box-shadow: 0px 10px 10px 5px #115e59;
    
}
.c-blog{
    background-color: #0284c7;
    padding-top: 1rem; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-bottom: 2.5rem; 
    border-radius: 20px;
    border-width: 0.5rem;
    border-color: #075985;
    box-shadow: 0px 10px 10px 5px #075985;
    opacity: 95%;
}
.c-blog-nd{
    background-color: #0d9488;
    padding-top: 1rem; 
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-bottom: 2.5rem; 
    border-radius: 20px;
    border-width: 0.5rem;
    border-color: #115e59;
    box-shadow: 0px 10px 10px 5px #115e59;
    opacity: 95%;
}
.c-language-st{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #5eead4;
    color: #134e4a;
    margin-right: 0.75rem;

}
.c-language-nd{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #7dd3fc;
    color: #0c4a6e;
    margin-right: 0.75rem;

}
.c-paragraph{
    background-color: #bae6fd; 
    padding-top: 1rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-bottom: 1rem; 
    margin-bottom: 1rem;
    border-radius: 10px;
    border-width: 0.5rem;
    border-color: #075985;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-paragraph-nd{
    background-color: #99f6e4; 
    padding-top: 1rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-bottom: 1rem; 
    margin-bottom: 1rem;
    border-radius: 10px;
    border-width: 0.5rem;
    border-color: #115e59;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-portfolio-st{
    background-color: #0d9488; 
    padding: 2.5rem;
    border-radius: 20px;
    border-width: 0.5rem;
    border-color: #134e4a;
    opacity: 90%;
    box-shadow: 0px 10px 10px 5px #115e59;

}
.c-portfolio-nd{
    background-color: #0284c7; 
    padding: 2.5rem;
    border-radius: 20px;
    border-width: 0.5rem;
    border-color: #134e4a;
    opacity: 90%;
    box-shadow: 0px 10px 10px 5px #075985;

}
/* .dark-header{
    background-color: #0c4a6e;
}
.dark-body{
    background-color: #164e63;
    color: #d1fae5;
} */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.header{
    background-color: #0f766e;
}
.icon-shaddow:hover{
    box-shadow: 0px 5px 5px 1px #115e59;
}
.w-full{
    width: 100%;
}
.navbar{
    color: #f8fafc;
}
.navbar:hover{
    opacity: 70%;
}
.navbar:active{
    opacity: 100%;
}
.sub-tittle{
    font-size: 1.5rem;
    line-height: 2rem;  
    font-weight: 700;
}
.t-primary{
    color: #134e4a;
}
.t-sekunder{
    color: #115e59;
}
.t-sc-primary{
    color: #e0f2fe;
}
.t-sc-sekunder{
    color: #f0f9ff;
}
.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-copyright{
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem; 
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;  
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;  
}
.tittle{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.transition{
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
/* Media Customize */

/* @media screen and (min-width: 768px) {
	main {
		margin: auto;
		width: 80%;
	}
}
@media screen and (min-width: 1024px) {
	main {
		width: 70%;
	}
	label {
		font-size: 1.15rem;
	}
	#result > h2 {
		font-size: 1.115rem;
	}

	.btn-submit {
		font-size: 1.125rem;
	}
}
@media screen and (min-width: 1280px) {
	main {
		width: 50%;
	}
} */